*.build
*.changes
*.deb
*.dsc
*.tar.xz
*/debian/files
*/debian/*.log
*/debian/*.debhelper
*/debian/*.substvars
*/gopath
prometheus/debian/prometheus
prometheus-node-exporter/debian/prometheus-node-exporter
prometheus-alertmanager/debian/prometheus-alertmanager
