Source: prometheus-alertmanager
Maintainer: Christoph Hack <chack@mgit.at>
Build-Depends: debhelper (>= 9.0.0), dh-systemd  (>= 1.5)
Standards-Version: 3.9.6
Priority: extra
Section: admin

Package: prometheus-alertmanager
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Prometheus alert manager
  The Alertmanager handles alerts sent by client applications such as the
  Prometheus server. It takes care of deduplicating, grouping, and routing
  them to the correct receiver integration such as email, PagerDuty, or
  OpsGenie. It also takes care of silencing and inhibition of alerts.
